body{
  background-color: #BCD2E8;
}

header {
  background-image: url("sky.jpg");
  padding: 35px;
  text-align: center;
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

/* p::first-letter{
  color:red;
}

p::first-line{
  color: black;
}

p::selection{
  color:red;
  background: yellow;
}
::marker{
  color:orange;
} */


.logo{
  float: left;
  margin: 10px;
}

.menu{
  margin: 30;
  padding: 20px;
  background-color: #1E3F66;
}

li[class]{
  display:inline-block;
  float:none;
  font-size: 25px;
  margin: 0;
  width:15%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: bold;
}

.menu li a{
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}


a:link {
  color: orange;
}

a:visited {
  color: rgb(216, 76, 216);
}
  
a:hover {
  color: rgb(226, 208, 103);
}
  
a:active {
  color: red;
  font-weight: bold;
} 

h1{
  font-size: 25px;
}

#main-heading{
  text-align: center;
}

#task{
  float: left;
  width: 38%;
  background-color: #528AAE;
  padding: 2%;
  height: 600px;
  font-family: Arial, Helvetica, sans-serif;
}

p[class]{
  text-align: center;
  white-space:pre-wrap;
  margin-left: -50px;
}
  
#requirements{
  float: right ;
  width: 54%;
  background-color: #73A5C6;
  padding: 2%;
  height: 600px;
  font-family: Arial, Helvetica, sans-serif;
}

h2{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  font-size: 25px; 
}

#submission{
  float: left;
  width: 54%;
  background-color: #73A5C6;
  padding: 2%;
  height: 500px;
  margin: 30px 0px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#submission ul{
  margin-top: -50px;
  text-align: center;
  margin-left: -50px;
}

#my_name{
  width:40%;
  display:inline-block;
  font-size: 25px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#grading{
  float: right ;
  width: 38%;
  background-color: #528AAE;
  padding: 2%;
  height: 500px;
  margin: 30px 0px 0px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#offsets, th, td{
  margin-top: 20px;
  margin-left:30px; 
  margin-right: 20px;
  border: 1px solid black;
  border-collapse: collapse;
  padding-top:5px;
  padding-bottom: 5px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

#offsets {
  margin-bottom: 30px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

#impor{
  text-align: center;
  background-image: radial-gradient(circle, #5c0067 0%, #2E5984 100%);
  padding:1%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
  font-size: 25px;
}

.aside_content{
  background-color: #528AAE;
  margin: -25px 0px 0px 0px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 5px;
}

h4{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}

.date li {
  display: inline-block;
  text-decoration: none;
  width:46%;
}

#headdummy{
  text-align: center;
  background-color: #2E5984;
  padding:1%;
}

.articles{
  margin: -19px 0px 30px 0px;
}

.arttext{
  font-family: Arial, Helvetica, sans-serif;
}

#art1{
  float: left;
  width: 29.33%;
  background-color: #528AAE;
  padding: 2% 2% 5.4% 2%;
}

#art2{
  float: left;
  width: 29.33%;
  background-color: #73A5C6;
  padding: 2% 2% 5.4% 2%;
}

#art3{
  float: left;
  width: 29.33%;
  background-color: #91BAD6;
  padding: 2% 2% 5.4% 2%;
}

.contacts{
  float: left;
  width: 50%;
  background-color: #1E3F66;
  color: #BCD2E8;
  min-height: 300px;
  padding-left: 2%;
  font-family: Arial, Helvetica, sans-serif;
  /* border-right: black 1px solid; */
}

h5 {
  font-size: 25px;
  font-style: bold;
  color: #BCD2E8;
  margin-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.categories {
  float: left;
  text-align: center;
  width: 24%;
  background-color: #1E3F66; 
  min-height: 300px;
  padding: 2% 0% 0% -1px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* border-right: black 1px solid; */
}

.categories ul li {
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 0px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.quick_links {
  float: left;
  text-align: center;
  width: 24%;
  background-color: #1E3F66;
  min-height: 300px;
  padding: 2% 0% 0% -1px;
  font-family: Arial, Helvetica, sans-serif;
}

.quick_links ul li{
  display: block; 
  padding: 0px;
  font-size: 14px;
  margin: 0;
  text-decoration: none;
}

.contacts > :first-child{
  float:left;
  width:30%;
}

.map{
  float:left;
  padding-top:10%;
  padding-left: 5%;
  width:65%;
  /* margin-left: 10px; */
}

aside::after {
  content: "";
  display: table;
  clear: both;
}
